 h1, h2 {
  text-color: blue;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
}

body {
  bankground-color: lightblue;
}

  .thumbnail>img {
    /*
    width: 50%;
    heigth: auto;
    align: middle;
    */
  display: inline;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.title {
  position: 'center'
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.caption {
  padding: 9px;
  font-size: 15px;
  color: #333;
  }

div {
  display: block;
}

h3 {
  margin-top: 20px;
  margin-botton: 10px;
}

ul, ol {
  display: block;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid;
}

.page-header {
  font-size: 20px;
  padding: 10px 0 20px 50px;
}
